
* {
  margin: 0px;
}

.topo {
    width:800px;
    height:100px;
    margin:auto;
}

.logo {
    width:50%;
    height:100px;
    float: left;
    background-color: #eee;
}

.menu {
    width: 50%;
    height: 100px;
    float: left;
    background-color: #ddd;
}

.corpo {
    width: 800px;
    height: 200px;
    margin: auto;
    background-color: #ccc;
}

.rodape {
    width: 800px;
    height: 100px;
    margin: auto;
    background-color: #ddd;
}

@media only screen and (max-width:700px) {
    .topo {
        height: 200px;
        width: 300px;
    }
    .logo {
        width: 100%;
    }
    .menu {
        width: 100%;
    }
    .corpo {
        width: 300px;
    }
    .rodape {
        width: 300px;
    }

}