#container {
    border: solid 1px black;
    width: 200px;
    height: 200px;
    margin: 40px;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

/*MAnipulando Imagens com JS */

.imagem {
    width: 300px;
    height: 300px;
  
}

/*Criando botao scroll JS*/

.buttom {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #0000ff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    display: none;
}